@import url('./reset.css');
@import url('./topbar.css');
@import url('./operations.css');
@import url('./charts.css');
@import url('./crypto.css');
@import url('./history.css');
@import url('./modal.css');
@import url('./responsive.css');

body {
  background-color: lightgray;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.container {
  padding: 15px 20px;
}
