@import url('./reset.css');
@import url('./disabled.css');
@import url('./toast.css');

@import url('./topbar.css');
@import url('./modal.css');

/* dashboard components */
@import url('./operations.css');
@import url('./charts.css');
@import url('./crypto.css');
@import url('./history.css');

/* mobile navigation */
@import url('./mobile-nav.css');

/* views */
@import url('./transactions.css');
@import url('./analytics.css');
@import url('./budgets.css');

@import url('./responsive.css');

body {
  background-color: lightgray;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.container {
  padding: 15px 20px;
}
